
extention/yating-api/asr-samples/key.txt
APP1/key.txt
APP1/gpt_key.txt
APP1/.ipynb_checkpoints/classification-checkpoint.py
APP1/.ipynb_checkpoints/Flask-checkpoint.ipynb
APP1/.ipynb_checkpoints/gpt_key-checkpoint.txt
APP1/__pycache__/classification.cpython-311.pyc
APP1/static/css/.ipynb_checkpoints/bootstrap.min-checkpoint.css
APP1/static/css/.ipynb_checkpoints/bootstrap-icons-checkpoint.css
APP1/static/css/.ipynb_checkpoints/style-checkpoint.css
APP1/static/css/.ipynb_checkpoints/tooplate-mini-finance-checkpoint.css
APP1/static/images/profile/.ipynb_checkpoints/01-checkpoint.png
APP1/static/images/profile/.ipynb_checkpoints/02-checkpoint.png
APP1/static/js/.ipynb_checkpoints/bootstrap.bundle.min-checkpoint.js
APP1/static/js/.ipynb_checkpoints/class-checkpoint.js
APP1/static/js/.ipynb_checkpoints/content copy-checkpoint.js
APP1/static/js/.ipynb_checkpoints/content-checkpoint.js
APP1/static/js/.ipynb_checkpoints/index-checkpoint.js
APP1/templates/.ipynb_checkpoints/add_people-checkpoint.html
APP1/templates/.ipynb_checkpoints/classTemplate-checkpoint.html
APP1/templates/.ipynb_checkpoints/extra_content-checkpoint.html
APP1/templates/.ipynb_checkpoints/index-checkpoint.html
APP1/__pycache__/gpt_classification.cpython-312.pyc
APP1/__pycache__/gpt_classification.cpython-311.pyc
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/人工智慧與設計思考.iml
.idea/inspectionProfiles/profiles_settings.xml
APP1/.ipynb_checkpoints/Flask_-checkpoint.ipynb
APP1/.ipynb_checkpoints/gpt_classification-checkpoint.py
APP1/.ipynb_checkpoints/test-checkpoint.ipynb
APP1/.ipynb_checkpoints/test2-checkpoint.ipynb
APP1/whisper.txt
*.pyc
