<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLASS</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!--header>
        <h1>分類</h1>
    </header-->
    <main>
        <div class="category-container">
            <button onclick="navigateTo('body')" class="category-btn red">身</button>
            <button onclick="navigateTo('psycho')" class="category-btn orange">心</button>
            <button onclick="navigateTo('social')" class="category-btn yellow">社會</button>
            <button onclick="navigateTo('special')" class="category-btn green">特殊</button>
            <button onclick="navigateTo('extra')" class="category-btn blue">其他</button>
            <button onclick="navigateTo('/')" class="category-btn white">主畫面</button>
        </div>
    </main>
    <script src="../static/js/class.js"></script>
</body>
</html>
