<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLASS</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!--header>
        <h1>分類</h1>
    </header-->
    <main>
        <div class="category-container">
            <button onclick="navigateTo('../templates/body_content.html')" class="btn">身</button>
            <button onclick="navigateTo('../templates/psycho_content.html')" class="btn">心</button>
            <button onclick="navigateTo('../templates/social_content.html')" class="btn">社會</button>
            <button onclick="navigateTo('../templates/special_content.html')" class="btn">特殊</button>
            <button onclick="navigateTo('../templates/extra_content.html')" class="btn">其他</button>
            <button onclick="navigateTo('../templates/index.html')" class="btn">主畫面</button>
        </div>
    </main>
    <script src="../static/js/class.js"></script>
</body>
</html>
