<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>語音轉文字系統</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="header-left">
            <img src="../static/images//profile/01.png" sizes="(max-width: 1px) 5vw, 1px" alt="頭像" class="avatar">
            <span>林阿伯</span>
        </div>
    </header>
    <main>
        <div class="text-container" id="text-container">
            <!-- 逐字稿內容將顯示於此 -->
        </div>
        <div class="controls">
            <button id="start-recording" class="btn green">🎤 開啟錄音</button>
            <button id="next-page" class="btn orange">➡ 下一頁</button>
        </div>
    </main>
    <script src="../static/js/index.js"></script>
</body>
</html>
