<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSYCHO</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1 id="page-title">PSYCHO</h1>
    </header>
    <main>
        <div class="content-display">
            <h2>分類後文本：</h2>
            <div id="classified-text">此處顯示分類內容。</div>
        </div>
        <div class="input-display">
            <h2>輸入文字：</h2>
            <textarea id="input-text" placeholder="點擊輸入文字"></textarea>
        </div>
        <button onclick="goBack()" class="btn">返回</button>
    </main>
    <script src="../static/js/content.js"></script>
</body>
</html>
